/* font style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header menu items*/
.header-menu{
    padding: 15px;
    background-color: rgb(255, 255, 255)3, 10);
    display: flex;
    box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.220);
}
.main-menu{
    margin-left: auto;
    padding-top: 25px;  
    margin-right: 40px;
}
.menu-logo{
    margin-left: 30px;
}
.menu-logo span{
    font-size: 30px;
}
.redColor{
    color: rgb(228, 3, 47);
}
.main-menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 35px;
}


/* ---------- */
/* common css */
h1{
    font-size: 40px;
    font-weight: 700;
}
button a{
    text-decoration: none;
    color: white;
}
button{
    padding: 13px 35px;
    background-image: linear-gradient(to right, rgb(228, 3, 47), #ebab77);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 0 0 20px 0 #ffc4c4;
}

/* -------- */
/* hero section */
.heroSection{
    display: flex;
    margin: 60px;
}
.heroSection h1{
    margin-top: 100px;
}
.heroSection p{
    margin-right: 100px;
}
.halfWidth{
    width: 50%;
}
.heroSection img{
    width: 90%;
    margin-left: 80px;
}

/* ----------- */
/* about section */
.aboutSection{
    display: flex;
    background-image: url(img/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutSection img{
    width: 45%;

}
.aboutSection .image{
    margin-bottom: -5px;
    margin-left: 100px;
    padding-top: 80px;
    padding-left: 80px;
}
.aboutSection h1{
    margin-top: 120px;
    font-weight: 500;
}
.aboutSection p{
    margin-right: 200px;
}

/* --------- */
/* Reepies sections */
.Recipies{
    margin: 40px;
}
.myRecepies{
    text-align: center;
}
.myRecepies h1{
    font-weight: 600;
}
.myRecepies p{
    margin: 0px 300px;
}
.recepieBlog{
    display: flex;
}
.blogItems{
    width: 30%;
    margin: 25px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.20);
    
}
.blogItems img{
    width: 100%;
    border-radius: 15px;
}


/* counter section */
.counter{
    display: flex;
    text-align: center;
    margin: 60px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
}
.counterItems{
    width: 33.33%; 
}


/* contact section */
.contact{
    background-image: linear-gradient(145deg,#ffc4c4,#fff6eb);
    padding: 4% 5%;
    margin-top: 2%;
}
.contact-area{
    display: flex;
}
.contactText{
    width: 40%;
    margin: auto;
}
.contact-form{
    width: 60%;
    padding-left: 5%;
}
.contact-form input, textarea{
    display: block;
    padding: 18px;
    width: 75%;
    margin: 4% auto;
    border-radius: 10px;
    border: none;
}
.contact-form button{
    border: none;
    width: 20%;
    margin-left: 10%;
    font-size: 15px;
    color: white;
    cursor: pointer;
}


    /* footer section */

footer{
    background-color: black;
    padding-top: 3%;
    padding-bottom: 4%;
    text-align: center;
}
footer h1{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
footer p{
    color: rgb(255, 255, 255);
    font-size: 14px;
}